*.log
*.swp
.DS_Store
Thumbs.db
.dart_tool/
.packages
.pub-cache/
build/
.flutter-plugins
.flutter-plugins-dependencies
.melos/
packages/**/pubspec.lock
.idea/
!.idea/runConfigurations/
!.idea/workspace.xml
.vscode/*
!.vscode/extensions.json
!.vscode/launch.json
!.vscode/settings.json

# Android
**/android/.gradle
**/android/local.properties
**/android/app/src/main/java/io/flutter/plugins/GeneratedPluginRegistrant.java
*.jks
*.keystore
key.properties

# iOS
**/ios/Pods/
**/ios/Flutter/App.framework
**/ios/Flutter/Flutter.framework
**/ios/Flutter/Generated.xcconfig
**/ios/Runner/GeneratedPluginRegistrant.*
**/ios/.symlinks/
**/ios/DerivedData/
**/ios/Pods/
**/ios/Podfile.lock/
**/ios/profile
**/ios/xcuserdata

coverage/
lib/l10n/gen/
.l10n_errors.txt
.fvm/
*.env